/* Base Styles */

/* font-family: 'Gloria Hallelujah', cursive;
font-family: 'Righteous', cursive;
font-family: 'Fredoka One', cursive; */

/* this is the start of my background and base structure */
body {
        background-color: rgb(119, 136, 153);
        padding: 0 10px 0 10px;
}
       
     /* styling and creating my nav bar */
nav ul {
         position: fixed;
}
     
li {
         display: inline;
}
     
a {
         text-decoration: none;
         color: rgb(48, 125, 145);
         padding: 0 10px 0 10px;
         font-size: xx-large;
}
     
     /* start of my parallax to for emphasis on me */
.parallax {
         background-image: url(../images/car.jpg);
         height: 580px;
         background-attachment: fixed;
         background-repeat: no-repeat;
         background-size: cover;
         box-shadow:  0 0 8px 8px white inset;
         border-radius: 10px;
}
     
p.name {
         text-align: center;
         font-size: 50px;
         font-family: 'Fredoka One', cursive;
         color:rgba(8, 140, 248, 0.5);
         padding: 0;
}
     /* styling my classes and divs */
.names {
         text-align: center;
         font-size: 50px;
         font-family: 'Fredoka One', cursive;
         color:rgba(8, 140, 248, 0.5);
}
     
.intro {
         background-color: rgba(255, 255, 255, 0.986);    
         background-size: cover;
         border-radius: 10px;
         text-align: center;
}
     
.tools {
         background-color: rgba(255, 255, 255, 0.986);    
         background-size: cover;
         border-radius: 10px;
         text-align: center;
}
     
.ex {
         background-color: rgba(255, 255, 255, 0.986);    
         background-size: cover;
         border-radius: 10px;
         text-align: center;
}
     
.contact {
         background-color: rgba(255, 255, 255, 0.986);    
         background-size: cover;
         border-radius: 10px;
         text-align: center;
}
     
     /* styling of fonts and colors */
h1 {
         font-family: 'Fredoka One', cursive;
         font-size: 40px;
         color: rgba(8, 140, 248, 0.5);
}
     
h3 {
         font-family: 'Fredoka One', cursive;
         font-size: 25px;
         color: rgba(8, 140, 248, 0.5);
}
     
p {
         font-family: 'Righteous', cursive;
         color:rgba(8, 140, 248, 0.5);
}
     
     /* styling my flexbox and creating it */
.conatiner {
         display: flex;
         justify-content: center;
}
     
.container > div {
         text-align: center;
         display: inline;
         padding: 20px;
         margin: 20px;
}
     
     /* sizing my images */
img { 
        width: 70px;
         height: 70px;
}
     /* used this to make my scrolling slow */
html {
         scroll-behavior: smooth;
}
                                                                                                                                                                                                                                      