/* Base Styles */

body {
        background-image: url(../images/background.jpeg);
}

header {
        font-family: 'Bungee', cursive;
}
div {
        padding: 0 0 0 100px;
}

nav ul {
        text-align: center;
        position: fixed;
        margin: 0;
        overflow: hidden;
        list-style-type: none;
        background-color: rgba(254, 254, 255, 0.685);
        top: 0;
        width: 100%;
        border-radius: 2%
}

li {
        display: inline;
        padding: 8px 25px;
}

main {
        text-align: center;
        color: black;
        
}

p {
        font-family: 'Noto Sans', sans-serif;
}

img {
        width: 50px;
        height: 50px;
        border-radius: 8px;
}
    
img.image1:hover {
        width: 100px;
        height: 100px;
        transition: height 2s ease-out, width 2s ease-out;
}

img.image {
        width: 100px;
        height: 100px;
}

nav a {
    text-transform: uppercase;
    font-size: xx-large;
    color: rgb(49, 111, 226);
    text-align: right;
    text-decoration: none;
}

a:hover {
        color:rgb(220, 20, 60);
}

h1 {
        font-size: xx-large;
        color: rgb(33, 149, 216);
}

footer {
        text-align: center;
        color: black;
}

.image {
        grid-area:image; 
}

.grid-container {
        display: grid;
        grid-template-areas: 'image image image' ;
        grid-gap: 10px;
        padding: 10px;
}

.grid-container>div {
        background-color: rgba(221, 212, 212, 0.8);
        text-align: center;
        padding:20px 0;
        font-size: 30px;
}

div.footer {
        padding: 0;
        margin: 0;
        background-size: cover;
}

/* responsive design */
@media and screen only (min width: 600px) {
       

}