/* Base Styles */

/* font-family: 'Oswald', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Roboto Slab', serif; */

/* this is the start of my background and base structure */
body {
   background-color: rgb(145, 145, 145);
   padding: 0 10px 0 10px;
}
  
/* styling and creating my nav bar */
nav ul {
    position: fixed;
    padding: 0.5em;
}

nav li {
    list-style: none;
    display: flex;
    word-spacing: 10px;
}

li {
    list-style: none;
    display: inline;
}

a {
    text-decoration: none;
    color: #000000;
    padding: 0 10px 0 10px;
    font-size: xx-large;
    margin: 10px;
}


/* start of my parallax for emphasis on me */
.parallax {
    background-image: url(../images/bb.jpg);
    height: 480px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:  0 0 8px 8px white inset;
    border-radius: 10px;
    width: 100%;
}

p.name {
    text-align: center;
    font-size: 50px;
    padding: 60px 0 0 0;
    color: #000000;
}
/* styling my classes and divs */
.names {
    text-align: center;
    font-size: 70px;
    padding: 80px 0 0 0;
    color: #000000;
}

.intro {
    background-color: ivory;    
    background-size: cover;
    border-radius: 10px;
    text-align: left;
    padding: 0 80px 20px;
}

.tools {
    background-color: ivory;    
    background-size: cover;
    border-radius: 10px;
    text-align: left;
    padding: 0 0 0 80px;
}

.ex {
    background-color: ivory;    
    background-size: cover;
    border-radius: 10px;
    text-align: left;
    padding: 0 60px 10px 80px;
}


.contact {
    background-color: ivory;    
    background-size: cover;
    border-radius: 10px;
    text-align: center;
}

/* styling of fonts and colors */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

p {
    font-family: 'Noto Sans', sans-serif;
}

/* styling my flexbox and creating it */
.container {
    display: flex;
    justify-content: center;
}

.container > div {
    text-align: left;
    display: inline;
    padding: 50px;
    margin: 10px;
}

/* styling my icons */
.fab {
    font-size: 60px;
}

.far {
    font-size: 60px;
}
/* used this to make my scrolling slow */
html {
    scroll-behavior: smooth;
}

/* @media queries */

@media only screen and (max-device-width: 768px) {

body {
    background-color: darkorange;
}

     /* start of my parallax for emphasis on me */
.parallax {
    background-image: url(../images/bb.jpg);
    height: 480px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:  0 0 8px 8px white inset;
    border-radius: 10px;
    width: 100%;
    background-position: center;
}

p.name {
    text-align: center;
    font-size: inherit;
    padding: 60px 0 0 0;
    color: #000000;
}
/* styling my classes and divs */
.names {
    text-align: center;
    font-size: 40px;
    padding: 80px 0 0 0;
    color: #000000;
}

.intro {
    background-color: ivory;    
    background-size: cover;
    border-radius: 10px;
    text-align: left;
    padding: 0 80px 20px;
}

.tools {
    background-color: ivory;    
    background-size: cover;
    border-radius: 10px;
    text-align: left;
    padding: 0 0 0 80px;
}

.ex {
    background-color: ivory;    
    background-size: cover;
    border-radius: 10px;
    text-align: left;
    padding: 0 60px 10px 80px;
}


.contact {
    background-color: ivory;    
    background-size: cover;
    border-radius: 10px;
    text-align: center;
}

/* styling of fonts and colors */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

p {
    font-family: 'Noto Sans', sans-serif;
}

/* styling my flexbox and creating it */
.container {
    display: flex;
    justify-content: center;
}

.container > div {
    text-align: left;
    display: inline;
    padding: 50px;
    margin: 10px;
}

/* styling my icons */
.fab {
    font-size: 60px;
}

.far {
    font-size: 60px;
}

}

@media only screen and (max-device-width: 530px) {
    p.name {
        text-align: center;
        font-size: inherit;
        padding: 60px 0 0 0;
        color: #000000;
    }
    /* styling my classes and divs */
    .names {
        text-align: center;
        font-size: inherit;
        padding: 80px 0 0 0;
        color: #000000;
    }
    /* styling my flexbox and creating it */
.container {
    display: flex;
    justify-content: left;
}

.container > div {
    text-align: left;
    display: inline;
    padding: 20px;
    margin: 10px;
}

/* styling my icons */
.fab {
    font-size: 40px;
}

.far {
    font-size: 40px;
}

}

@media only screen and (max-device-width: 380px) {
       /* start of my parallax for emphasis on me */
.parallax {
    background-image: url(../images/bb.jpg);
    height: 300px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:  0 0 8px 8px white inset;
    border-radius: 10px;
    width: 100%;
    background-position: center;
}

 /* styling my flexbox and creating it */
 .container {
    display: flex;
    justify-content: left;
}

.container > div {
    text-align: left;
    display: inline;
    padding: 10px;
    margin: 5px;
}

/* styling my icons */
.fab {
    font-size: 25px;
}

.far {
    font-size: 25px;
}

}