@import url('https://fonts.googleapis.com/css?family=Englebert|Fugaz+One|Luckiest+Guy|Permanent+Marker');

// font-family: 'Permanent Marker', cursive;
// font-family: 'Luckiest Guy', cursive;
// font-family: 'Fugaz One', cursive;
// font-family: 'Englebert', sans-serif;

.collapse li a {
    text-decoration: none;
    display: inline;
}

.d-block {
    height: 70vh;
}

.about-section {
    background-color: azure;

    p {
        text-align: center;
    }
}